
.container2 {
    /*width: 200px;*/
    height: 300px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
.container2 > .img {
    position:absolute;

    min-height: 100%;
    width: 100%;
}
.labels-item{
    display: flex;
}

.etiqueta{
    margin-left: 100px;
    display: inline-block;
    margin: 0 0;
    font-family: 'Edu NSW ACT Foundation';
    font-size: 14px!important;
}

.card{
    border: 1px solid seagreen;
    padding: 10px;
    margin: 10px 15px;   
    max-height: 80vh;
}


@media only screen
and (max-device-width: 700px)
{   .card{
    border: 1px solid seagreen;
    padding: 10px;
    margin: 10px 15px;   
    height: 100vh;
}
    
    .container2 {
    /*width: 200px;*/
    height: 60vh;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
.container2 > .img {
    position:absolute;

    min-height: 100%;
    width: 100%;
}

}
